.latest-trending-markdown {
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.title-date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-date-container .stext-116 {
    margin-bottom: 10px;
}

.d-block {
    display: block;
}

.mb-2 {
    margin-bottom: 0.5rem; /* Adjust this value as needed for spacing */
}
