{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, fill in the form {{ name }}!
</h1>

    <form action="/submit" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category" required><br><br>
        
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="5" required></textarea><br><br>
        
        <input type="submit" value="Submit">
    </form>
{% endblock %}
