{% extends "base.html" %}

{% block content %}
<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-02.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Blog
		</h2>
	</section>	

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <h1 class="title">Column 1</h1>
        <p>This is the content for column 1.</p>
    </div>
    <div class="col-md-4">
        <h1 class="title">Column 2</h1>
        <p>This is the content for column 2.</p>
    </div>
    <div class="col-md-4">
        <h1 class="title">Column 3</h1>
        <p>This is the content for column 3.</p>
    </div>
</div>

<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>
<div id="markdown-content"></div>
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
<script src="/static/javascript/script.js"></script>
{% endblock %}
