{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <h3 class="title">Login</h3>
            <div class="box">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <form method="POST" action="/login">
                    <div class="mb-3">
                        <input class="form-control form-control-lg" type="email" name="email" placeholder="Your Email" autofocus>
                    </div>

                    <div class="mb-3">
                        <input class="form-control form-control-lg" type="password" name="password" placeholder="Your Password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember" name="remember">
                        <label class="form-check-label" for="remember">Remember me</label>
                    </div>
                    <button class="btn btn-info btn-lg btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
