{% extends "base.html" %}

{% block content %}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/static/images/bg-02.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Blog
    </h2>
</section>

<!-- Main Content and Sidebar Wrapper -->
<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">
            <!-- Main Content Area -->
            <div id="container" class="col-md-8 col-lg-9 p-b-80"></div>

            <!-- Sidebar Area -->
            <div id="side-menu" class="col-md-4 col-lg-3 p-b-80"></div>
        </div>
    </div>
</section>

<!-- Script Imports -->
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
<script type="module" src="/static/javascript/sidebar.js"></script>
<script type="module" src="/static/javascript/script.js"></script>

{% endblock %}
