<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Content here -->
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script type="module" src="/static/javascript/post-detail.js"></script>
    <script type="module" src="/static/javascript/sidebar.js"></script>
</body>
</html>
