{% extends "admin/base.html" %}

{% block content %}

{% include 'admin/partials/_header.html' %}
{% include 'admin/partials/_nav.html' %}
<form action="{{ url_for('convertor.submit_form') }}" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>
    
    <label for="image_url">Image URL:</label><br>
    <input type="text" id="image_url" name="image_url"><br><br>
    
    <label for="imageAttribution">Image Attribution:</label><br>
    <input type="text" id="imageAttribution" name="imageAttribution"><br><br>
    
    <label for="date">Date:</label><br>
    <input type="text" id="date" name="date" required><br><br>
    
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category" required><br><br>
    
    <label for="tags">Tags:</label><br>
    <input type="text" id="tags" name="tags" placeholder="Separate tags with commas"><br><br>
    
    <label for="trending">Trending:</label><br>
    <input type="checkbox" id="trending" name="trending"><br><br>
    
    <label for="topPick">Top Pick:</label><br>
    <input type="checkbox" id="topPick" name="topPick" checked><br><br>
    
    <label for="popular">Popular:</label><br>
    <input type="checkbox" id="popular" name="popular"><br><br>
    
    <label for="link">Link:</label><br>
    <input type="text" id="link" name="link"><br><br>
    
    
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="5" required></textarea><br><br>
    
    <input type="submit" value="Submit">
</form>
{% endblock %}
