{% extends "admin/base.html" %}

{% block content %}

{% include 'admin/partials/_header.html' %}
{% include 'admin/partials/_nav.html' %}
<!-- Theme CSS -->
<link rel="stylesheet" href="/static/admin-ui/assets/css/theme.min.css">
  <title>Writers-Deck | Write - Share a word with the world</title>
</head>

<body class="bg-light">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <a href="../index.html"><img src="/static/admin-ui/assets/images/brand/logo/logo-primary.svg" class="mb-2" alt=""></a>
              <p class="mb-6">Don't worry, we'll send you an email to reset your password.
              </p>
            </div>
<form action="{{ url_for('convertor.submit_form') }}" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>
    
    <label for="image_url">Image URL:</label><br>
    <input type="text" id="image_url" name="image_url"><br><br>
    
    <label for="imageAttribution">Image Attribution:</label><br>
    <input type="text" id="imageAttribution" name="imageAttribution"><br><br>
    
    <label for="date">Date:</label><br>
    <input type="text" id="date" name="date" required><br><br>
    
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category" required><br><br>
    
    <label for="tags">Tags:</label><br>
    <input type="text" id="tags" name="tags" placeholder="Separate tags with commas"><br><br>
    
    <label for="trending">Trending:</label><br>
    <input type="checkbox" id="trending" name="trending"><br><br>
    
    <label for="topPick">Top Pick:</label><br>
    <input type="checkbox" id="topPick" name="topPick" checked><br><br>
    
    <label for="popular">Popular:</label><br>
    <input type="checkbox" id="popular" name="popular"><br><br>
    
    <label for="link">Link:</label><br>
    <input type="text" id="link" name="link"><br><br>
    
    
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="5" required></textarea><br><br>
    <div class="mb-3 d-grid">
                <button type="submit" value="Submit" class="btn btn-primary">
                    Submit
                  </button>
              </div>
    
</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
