<!-- Main Post Section Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-7 col-xl-8 mt-0">
                <div class="position-relative overflow-hidden rounded">
                    <img src="{{ post.metadata.image_url }}" class="img-fluid rounded img-zoomin w-100" alt="Image">
                    <div class="d-flex justify-content-center px-4 position-absolute flex-wrap" style="bottom: 10px; left: 0;">
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-clock"></i> {{ post.metadata.time_to_read }}</a>
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-eye"></i>  Views</a>
                        <a href="#" class="text-white link-hover"><i class="fa fa-arrow-up"></i>  Shares</a>
                    </div>
                </div>
                <div class="border-bottom py-3">
                    <a href="#" class="display-4 text-dark mb-0 link-hover">{{ post.metadata.title }}</a>
                </div>
                <p class="text-muted">{{ post.metadata.date }}</p>
                <p class="mt-3 mb-4">{{ post.content }}</p>
            </div>
            <!-- Add the following for the trending post -->
            <div class="col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 pt-0">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="rounded overflow-hidden">
                                <img src="{{ trending_post.metadata.image_url }}" class="img-fluid rounded img-zoomin w-100" alt=""> <!-- image -->
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <a href="#" class="h4 mb-2">{{ trending_post.metadata.title }}</a> <!-- title -->
                                <p class="fs-5 mb-0"><i class="fa fa-clock"></i> {{ trending_post.metadata.read_time }} minute read</p> <!-- time to read -->
                                <p class="fs-5 mb-0"><i class="fa fa-eye"></i>  Views</p> <!-- views -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of trending post section -->
        </div>
    </div>
</div>
<!-- Main Post Section End -->
