<!-- Main Post Section Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-7 col-xl-8 mt-0">
                <div class="position-relative overflow-hidden rounded">
                    <img src="{{ post.metadata.image_url }}" class="img-fluid rounded img-zoomin w-100" alt="Image">
                    <div class="d-flex justify-content-center px-4 position-absolute flex-wrap" style="bottom: 10px; left: 0;">
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-clock"></i> {{ post.metadata.time_to_read }}</a>
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-eye"></i>  Views</a>
                        <a href="#" class="text-white link-hover"><i class="fa fa-arrow-up"></i>  Shares</a>
                    </div>
                </div>
                <div class="border-bottom py-3">
                    <a href="#" class="display-4 text-dark mb-0 link-hover">{{ post.metadata.title }}</a>
                </div>
                <p class="text-muted">{{ post.metadata.date }}</p>
                <p class="mt-3 mb-4">{{ post.content }}</p>

                {% if second_latest_post and second_latest_post.metadata.trending == 'on' %}
                    {% set post = second_latest_post %}
                    <div class="bg-light p-4 rounded">
                        <div class="news-2">
                            <h3 class="mb-4">Top Story</h3>
                        </div>
                        <div class="row g-4 align-items-center">
                            <div class="col-md-6">
                                <div class="rounded overflow-hidden">
                                    <img src="{{ post.metadata.image_url }}" class="img-fluid rounded img-zoomin w-100" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-column">
                                    <a href="#" class="h3">{{ post.metadata.title }}</a>
                                    <p class="mb-0 fs-5"><i class="fa fa-clock"></i> {{ post.metadata.time_to_read }}</p>
                                    <p class="mb-0 fs-5"><i class="fa fa-eye"> 3.5k Views</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- Single Small Trending Post -->
            {% if latest_post and latest_post.metadata.trending == 'on' %}
            {% set post = latest_post %}
            <div class="col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 pt-0">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="rounded overflow-hidden">
                                <img src="{{ post.metadata.image_url }}" class="img-fluid rounded img-zoomin w-100" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <a href="#" class="h4 mb-2">{{ post.metadata.title }}</a>
                                <p class="fs-5 mb-0"><i class="fa fa-clock"></i>{{ post.metadata.time_to_read }}</p>
                                <p class="fs-5 mb-0"><i class="fa fa-eye"></i> 3.5k Views</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
   <!-- Render all trending posts -->

    {% for post in trending_posts %}
<div class="col-12">
                                    <div class="row g-4 align-items-center">
                                        <div class="col-5">
                                            <div class="overflow-hidden rounded">
                                                <img src="{{ post.metadata.image_url }}" class="img-zoomin img-fluid rounded w-100" alt="">
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="features-content d-flex flex-column">
                                                <a href="#" class="h6">{{ post.metadata.title }}</a>
                                                <small><i class="fa fa-clock"></i>{{ post.metadata.time_to_read }}</small>
                                                <small><i class="fa fa-eye"> 3.5k Views</i></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
